### macOS/Linux/Windows ###

.DS_Store
.AppleDouble
.LSOverride

.Trash-*

Thumbs.db
[Dd]esktop.ini
*.lnk

### Vim ###

# Swap
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

### Python ###

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# pyenv
.python-version

# Rope project settings
.ropeproject

# Virtualenv
.venv

### VSCode ###

.vscode/**
!.vscode/launch.json
!.vscode/settings.json
