{
  log {
    output stderr
    level  {$CADDY_LOG_LEVEL}
    format {$CADDY_LOG_FORMAT} {
      level_format {$CADDY_LOG_FORMAT_LEVEL_FORMAT:upper}
    }
  }
}

:{$CADDY_PORT} {
  @has_proxy_token {
    header {$CADDY_PROXY_HEADER} "{$CADDY_PROXY_TOKEN}"
  }

  @health_from_proxy {
    path /health
    header X-Forwarded-For *
  }

  handle @health_from_proxy {
    respond "Forbidden" 403
  }

  handle /health {
    reverse_proxy localhost:{$ROUTATIC_PROXY_PORT}
  }

  handle @has_proxy_token {
    reverse_proxy localhost:{$ROUTATIC_PROXY_PORT}
  }

  handle {
    respond "Unauthorized" 401
  }
}
