# Required by amazon.aws
boto3==1.43.36

# Required by ansible.utils 'ipaddr' filter
# https://docs.ansible.com/projects/ansible/latest/collections/ansible/utils/docsite/filters_ipaddr.html
netaddr>=1.3,<2

# Required by 'password_hash' filter with bcrypt hashtype
# https://docs.ansible.com/projects/ansible/latest/collections/ansible/builtin/password_hash_filter.html
passlib>=1.7,<2
bcrypt==4.0.1 # Can't be upgraded to 4.1+ to prevent incompatibility with passlib

# Useful to custom collections and plugins
requests>=2.29,<3
